@model IEnumerable<TaxiWeb.Models.Usuarios>
@{
    ViewBag.Title = "Inicio";
}

<div class="parallax-container">
    <div class="parallax"><img src="~/Images/city1.png" /></div>
</div>
<div class="section white center">
    <div class="row container">
        <h2 class="header"><strong>¡UPS!<br />Aún no estamos listos</strong></h2>
        <img src="~/Images/enConstruccion.png" class="responsiveImage" />
        <h2 class="header"><strong>Vuelve en otro momento</strong></h2>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="~/Images/city2.png" /></div>
</div>