nav ul a {
    color: black;
}

.btn {
    text-decoration: none;
    color: #fff;
    background-color: black !important;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    cursor: pointer;
}

.sidenav .user-view .background {
    height: 130px;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.card .card-title {
    font-size: 16px;
    font-weight: 300;
}

.card .card-content {
    padding: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 0 0 2px 2px;
}

#btnModal {
    margin-left: 300px;
}

#crearNuevo {
    color: black;
}
